#!/usr/bin/env bash

alias vim='nvim'

# Command line utils
alias zshe='vim ~/.zshrc'
alias zshs='source ~/.zshrc'

# Python
alias py='python3'
alias p='ipython3'
alias pip='pip3'

# Django
alias pmr='py manage.py runserver'
alias pmk='py manage.py makemigrations'
alias pmm='py manage.py migrate'
alias pms+='py manage.py shell_plus'

# Git
alias gs='git status'
alias gc='git commit -v'
alias gpl='git pull -p'
alias gps='git push'
alias gd='git diff'
alias go='git checkout'
alias undo='git restore'
alias undoall='undo .'
alias grc='git rebase --continue'
alias gra='git rebase --abort'

# Meta aliases :O
alias aliasd='cat ~/.aliases'
alias aliase='vim ~/.aliases'
alias aliass='source ~/.aliases'

# Pyenv
alias pya='pyenv activate'
alias pyd='pyenv deactivate'
alias pye='pyenv virtualenv'

# Kallanish / KIS
alias kibe='cd && j kis-backend'
alias kife='cd && j kis-backoffice'
alias kiwe='cd && j kis-website'
alias kabe='cd && j kallanish-backend'
alias kafe='cd && j kallanish-frontend'
