[user]
  name = wencakisa
  email = wencakisa@gmail.com

[core]
  excludesfile = ~/.gitignore_global
  editor = nvim

[push]
  default = current
  autoSetupRemote = true

[init]
  defaultBranch = master

[blame]
  date = format:"%d/%m/%Y [%H:%M]"

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
